@media screen and (max-width:1280px){
      .container{
            width: 90%;
      }
      #resume{
            width: 90%;
      }
      #contact-grid{
            grid-template-columns: 1fr;
      }
      .callToAction-card{
            background-color: #003E61;
            margin: 5vw 0vw 0vw 0vw;
            padding: 15vw;
            color: #ffffff;
            text-align: center;}
}
@media screen and (max-width:600px){ /*Phones*/
      .desktopElement{ /*hides certain elements on mobile devices*/ 
            display: none;
      }
      .container{
           width: 100%;
      }
      .mobileNav{
            display: flex;
      }
      .mobileNav img{
            width: 80vw;
      }
      .mobileNavbar img{
            width: 10vw;
      }
      .mobileNavbar{
            display: flex;
            position: fixed;
            bottom: 0px;
            left: 0px;
            width: 100%;
            padding: 1.5vh 0vh 1.5vh 0vh;
            justify-content: center;
            background-color: #ffffff;
            z-index: 10;
            text-align: center;
      }
      ul.mobileNavbar{
            list-style: none;
      }
      .mobileNavbar li{
            margin: 0px 10px 0px 10px;
      }
      .mobileNavbar a{
            color: #003E61;
      }
      #hero{
            margin: 0px;
      }
      #hero-grid{
            grid-template-columns: 1fr;
          }
      #siteIntro{
            text-align: center;
          }
      #callToAction h1{
            font-size: 2em;
            padding: 3vw;
      }
      .heroImages-item:nth-child(2){
            margin: 0px;
      }
      .heroImages-item{
            border-radius: 0px;
            padding: 5vw;

      }
      .heroImages-item img{
            width: 22vw;

      }
      section{
            width: 100%;
      }
      #resume{
            width:100%;
            background-color: #EEEEEE;
      }
      #resume h2{
            width: 33vw;
            text-align: center;
            padding: 3vw;
      }
      .listLabel{
            padding: 5vw;
      }
      #languages-grid{
            grid-template-columns: 1fr 1fr;
      }
      .languages-module img{
            width: 50%;
            padding: 5vw;
      }
      #portfolio-grid{
            grid-template-columns: 1fr;
      }
      
}