*{
      margin: 0px;
      padding: 0px;}
body{
      font-size: 1.2Rem;
      background-color: #EEEEEE;}
section{
      min-height:100vh;}
.container{
      width: 80%;
      margin: auto;}


h1, h2, h3, h4, h5, h6{
      font-family: scandia;}
strong{
      font-family: scandia;}
label{
      font-family: Lexend, Arial, Helvetica, sans-serif;
}
p{
      font-family: Lexend, Arial, Helvetica, sans-serif;}
li{
      font-family: Lexend, Arial, Helvetica, sans-serif;}
a{
      font-family: scandia;
      color: #003E61;
      text-decoration: none;}
a:visited{
      font-family: scandia;
      color: #003E61;}
a:active{
      font-family: scandia;
      color: #003E61;}
.highlight{
      padding: 10px;
      margin: 15px 15px 15px 0px;
      background-color:rgba(255, 127, 80, 0.432);
      border-radius: 25px;
      
}


header{
      padding: 1.5vh 0vh 1.5vh 0vh;
      background-color: #ffffff;
      }
header #logo img{
      width: 16vw;}
.mainNav{
      display: flex;
      justify-content: space-between;
      align-items: center;}
.mainNav ul{
      display: flex;
      list-style: none;}
.mainNav li{
      padding: 0vw 1vw 0vw 1vw;}
.mainNav li a:hover{
      background-color: #003E61;;
      border-radius: 16px;
      color: #ffffff;
      padding: .5vw;}
#contactButton{
      color: #003E61;
      border: 3px solid #003E61;
      border-radius: 16px;
      padding: .5vw 1vw .5vw 1vw;}
#contactButton:hover{
      background-color: #003E61;
      color: #ffffff;}



#hero{
      margin: 5vh auto 0vw auto;
      min-height: 80vh;
      }
#hero-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 7vw;
      color: #000000;}
#siteIntro{
      width: 100%;
      float: left;
      }
#siteIntro img{
      width: 100%;
}
#callToAction{
      display: flex;
      flex-direction: column;
      /* background-color: #ffffff; */
      }
#callToAction h1{
      font-size: 4em;
      font-weight:400;}
.heroImages-item{
      text-align: center;
      padding: 3vw;
      background-color: #003E61;
      color: #ffffff;
      border-radius: 16px;}
.heroImages-item:nth-child(2){
      margin:3vh 0vh 3vh 0vh;}
.heroImages-item strong{
      margin: 1vh;
      display: block;}
.heroImages-item img{
     width: 28%;
     filter: invert(100%);}



#resume{
      box-sizing: border-box;
      width: 80%;
      margin: 5vh auto;
      padding: 3vw;
      border-radius: 16px;
      background-color: #ffffff;}
#resume h2{
      background-color: #003E61;
      width: 24vw;
      padding: 1vw;
      color: #ffffff;
      border-radius: 16px;}
#professionalSummary{
      padding: 2.5vw 2.5vw 2.5vw 0vw;}
.listLabel{
      display: block;
      background-color: #e5e5e5;
      border-radius: 15px;
      padding: 1vw 2vw 1vw 2vw;
      margin: 5vh 0vh 3vh 0vh;}
#languages-flexBox{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(2);
      gap: 3vw;}
.languages-module{
      display: flex;
      flex-direction: column;
      color: #000000;}
.languages-module img{
      display: block;
      width: 33%;
      margin: auto;}
.languages-module strong{
      margin: auto;}
ul.resumeList{
      margin: 0vw 1vw 1vw 5vw;}

.socialNavBar{
      margin: 5vw 0vw 0vw 0vw;
}
.socialNavBar img{
      width: 72px;
}


#portfolio-grid{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 33vh;
}
.portfolio-item:nth-child(1){
      border: 3px dashed #003E61;

}




#contact{
      margin: 5vh 0vh 0vh 0vh;
}
.callToAction-card{
      background-color: #003E61;
      padding: 5vw;
      color: #ffffff;
      text-align: center;}
.callToAction-card a{
      display: block;
      width: 33%;
      position: relative;
      top: 60px;
      color: #ffffff;
      border: 3px solid #ffffff;
      padding: 20px 40px 20px 40px;
      margin: 1vw auto 1vw auto;}
.callToAction-card a:hover{
      background-color: #ffffff;
      color: #000000;
}
#contact-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
}
#contact-grid input{
      display: block;
      width: 80%;
      padding: 1.5vh 1.5vh 1.5vh 0.5vh;
      border: 1px solid #003E61;
      border-radius: 5px;
}
#contact-grid input:focus{
      outline: none;
}
#contact-grid textarea{
      display: block;
      width: 80%;
      padding: .8vw .8vw .8vw 0.2vw;
      border: 1px solid #003E61;
      border-radius: 5px;
}
#contact-grid button{
      width: 33%;
      padding: 20px 40px 20px 40px;
      background-color: #003E61;
      color: #ffffff;
      font-size: 1.2em;
      border: none;
}
#contact-grid button:hover{
      background-color: darkgreen;
      cursor:pointer;
}
#formButtons{
      display: flex;
}

#verification-button{
      width: 24px;
      height: 24px;

 
}

